@model RoleVm

@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Rol Oluştur</h3>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Rol Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Kaydet</button> |
    <a asp-action="Index" class="btn btn-warning">Rol Listesine Geri Dön</a>
</form>
