
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}


@model List<IdentityRole>


<table class="table">
    <thead>
        <tr>
            <th>Rol Adı</th>
            <th>İşlemler</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var rol in Model)
        {
            <tr>
                <td>@rol.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@rol.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@rol.Id">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@rol.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="Admin" asp-controller="Roles" asp-action="Create" class="btn btn-dark">Yeni Rol Ekle</a> |

<a asp-area="Admin" asp-controller="Roles" asp-action="UserRoleList" class="btn btn-warning">Kullanıcı Rol Listesi</a>


