
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@model List<AppUser>
<h1>Kullanıcıların Rol Listesi</h1>


<table class="table">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Rol Ata</th>
          

        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model)
        {
            <tr>
                <td>@userRole.UserName</td>
                <td>
                    <a asp-area="Admin" asp-controller="Roles" asp-action="AssignRole" asp-route-id="@userRole.Id" class="btn btn-outline-dark text-light-dark">Rol Ata</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="Admin" asp-action="Create" asp-controller="Roles" class="btn btn-dark">Yeni Rol Ekle</a> |
<a asp-action="Index" class="btn btn-warning">Rol Atama Listesine Dön</a>



