@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model UserProductListDto

<h2>Order Details</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="updateOrder" class="control-label">Order ID</label>
            <input asp-for="updateOrder.Id" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="updateOrder.User.FirstName" class="control-label">Kullanıcı Adı</label>
            <input asp-for="updateOrder.User.FirstName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="updateOrder.User.LastName" class="control-label">Kullanıcı Soyadı</label>
            <input asp-for="updateOrder.User.LastName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="updateOrder.OrderStatus" class="control-label">Sipariş Durumu</label>
            <input asp-for="updateOrder.OrderStatus" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="updateOrder.User.Email" class="control-label">Kullanıcı Email</label>
            <input asp-for="updateOrder.User.Email" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="updateOrder.User.PhoneNumber" class="control-label">Kullanıcı Telefon Numarası</label>
            <input asp-for="updateOrder.User.PhoneNumber" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="updateOrder.User.Address" class="control-label">Kullanıcı Adres</label>
            <input asp-for="updateOrder.User.Address" class="form-control" readonly />
        </div>
    </div>
</div>

<h3>Products</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Quantity
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var productOrder in Model.updateOrder.ProductOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Products.FirstOrDefault(x => x.Id == productOrder.ProductId).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Products.FirstOrDefault(x => x.Id == productOrder.ProductId).Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => productOrder.Quantity)
                </td>                
            </tr>
        }
    </tbody>
</table>
<a asp-action="Edit" asp-route-id="@Model.updateOrder.Id" class="btn btn-primary">Siparişi Düzenle</a>
<a asp-action="Index" class="btn btn-warning">Listeye Geri Dön</a>
