@{
    ViewData["Title"] = "Glasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ProductVm>;

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filtrele</h5>
                <form asp-controller="Home" asp-action="Glasses" method="get">

                    @await Html.PartialAsync("_FilterPartialView")

                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </form>
            </div>
        </div>

        @await Html.PartialAsync("_ShopPartialView")

    </div>
</div>

@await Html.PartialAsync("_CartPartialView")

