@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- Homepage head start -->

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 410px;text-align:center" ">
            <img class="img-fluid" src="img/zippo_harley.webp" alt="Image" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">
                        Taşıması Kolay Çakmaklar
                    </h4>
                </div>
            </div>
        </div>
        <div class="carousel-item " style="height: 410px;text-align:center">
            <img class="img-fluid" src="img/zippo_slider1.webp" alt="Image" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">
                        Şıklığınıza şıklık katacak
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev"
       href="#header-carousel"
       data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next"
       href="#header-carousel"
       data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
<!-- Homepage head start -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4"
                 style="padding: 30px">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Kanıtlanmış Kalite</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4"
                 style="padding: 30px">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Ücretsiz Kargo</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4"
                 style="padding: 30px">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">İade/Değişim Seçenekleri</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4"
                 style="padding: 30px">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Canlı Destek</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4"
                 style="padding: 30px">
                <div class="text-center" style="width: 300px; height:300px">

                    <a asp-area="" asp-controller="Home" asp-action="Product" asp-route-categoryName="Çok Amaçlı" class="position-relative overflow-hidden mb-3 justify-content-center">
                        <img class="img-fluid" src="~/images/cakmak/cakmak-mavi.jpg" alt="" style="height: 300px" />
                    </a>

                </div>
                <h5 class="font-weight-semi-bold m-auto">Çok Amaçlı Çakmaklar</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4"
                 style="padding: 30px">
                <div class="text-center" style="width: 300px; height:300px">
                    <a asp-area="" asp-controller="Home" asp-action="Product" asp-route-categoryName="Mumlar İçin" class="position-relative overflow-hidden mb-3 justify-content-center">
                        <img class="img-fluid" src="~/images/cakmak/mum-icin-cakmak.jpg" alt="" style="height: 300px" />
                    </a>
                </div>
                <h5 class="font-weight-semi-bold m-auto">Mum için Çakmaklar</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4"
                 style="padding: 30px">
                <div class="text-center" style="width: 300px; height:300px">
                    <a asp-area="" asp-controller="Home" asp-action="Product" asp-route-categoryName="Kalem" class="position-relative overflow-hidden mb-3 justify-content-center">
                        <img class="img-fluid" src="~/images/kalem/kalem-siyah.jpg" alt="" style="height: 300px" />
                    </a>
                </div>
                <h5 class="font-weight-semi-bold m-auto">Aksesuarlar</h5>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->
<!-- Subscribe Start -->
@*<div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3">
                        <span class="bg-secondary px-2">Bültene Kayıt Olun</span>
                    </h2>
                    <p>
                        Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam
                        labore at justo ipsum eirmod duo labore labore.
                    </p>
                </div>
                <form action="">
                    <div class="input-group">
                        <input type="text"
                               class="form-control border-white p-4"
                               placeholder="Email Giriniz...   " />
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Bültene Kayıt Ol!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@
<!-- Subscribe End -->
