
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Home Page</h1>

<a asp-area="Admin" asp-controller="Products" asp-action="Index" class="btn btn-app bg-secondary">
    <i class="fas fa-barcode"></i> Ürün Yönetimi
</a>
<a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-app bg-secondary">
    <i class="fas fa-barcode"></i> Kategori Yönetimi
</a>
<a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-app bg-success">
    <i class="fas fa-users"></i> Kullanıcılar
</a>
<a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="btn btn-app bg-success">
    <i class="fas fa-users"></i> Rol İşlemleri
</a>
<a class="btn btn-app bg-danger">
    <i class="fas fa-inbox"></i> Siparişler
</a>


