
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Home Page</h1>

<a class="btn btn-app bg-secondary">
    <i class="fas fa-barcode"></i> Ürün Yönetimi
</a>
<a class="btn btn-app bg-success">
    <i class="fas fa-users"></i> Kullanıcılar
</a>
<a class="btn btn-app bg-danger">
    <i class="fas fa-inbox"></i> Siparişler
</a>

